# Ignorar todo el contenido de la carpeta logs pero mantener la carpeta (opcional)
logs/suricata/*
!logs/suricata/.gitkeep

# Ignorar el archivo generado dinámicamente
src/suricata/suricata_run.yaml

# Archivos temporales de Python
__pycache__/
*.py[cod]